**Question** : Create a dictionary containing Name, Age, and University as features mentioned in sample input. Convert the dictionary into a data frame using pandas by mentioning index as a,b,c,d. Drop the ‘c’ row index in the data frame and print the values present in a final data frame.

**Level** : Hard

**Input format** : 

First-line: Space-separated names of Name,

Second-line: Space-separated values of Age.

Third-line: Space-separated names of University.

**Output format** : 

List of Values presented in a Dataframe.

**Sample input** : 
    
Arun Rahul Deeraj Shiva

22 25 21 20

IIT NIT MIT IIIT

**Sample Output** :

[['Arun' '22' 'IIT']
 ['Rahul' '25' 'NIT']
 ['Shiva' '20' 'IIIT']]

## Solution

In [12]:
import pandas as pd 
Name=input().split()
Age=input().split()
University=input().split()
details={"Name" :Name, "Age" :Age, "University" : University}

df=pd.DataFrame(details,index=['a','b','c','d'])
update_df = df.drop('c') 
print(update_df.values)

kohli sachin rohith dhoni
33 39 33 37
iitk iitm iitb iitm
[['kohli' '33' 'iitk']
 ['sachin' '39' 'iitm']
 ['dhoni' '37' 'iitm']]