**Question** :  How to Delete a single Row in DataFrame by Row Index Label

**Level** = Hard

**Input format** : Remove specific row

**Output format** : integers

**Sample input** : 
    
import pandas as pd 


details = {  <br/>
	'Name' : ['Ankit', 'Aishwarya', 'Shaurya', 'Shivangi'], <br/>
	'Age' : [23, 21, 22, 21],  <br/>
	'University' : ['BHU', 'JNU', 'DU', 'BHU'],  <br/>
}  <br/>

**Sample Output** :  


    Name        Age    University
 
a   Ankit       23        BHU        <br/>


b   Aishwarya   21        JNU          <br/>


d   Shivangi    21        BHU         <br/>

In [1]:
import pandas as pd

In [2]:
details = { 
	'Name' : ['Ankit', 'Aishwarya', 'Shaurya', 'Shivangi'], 
	'Age' : [23, 21, 22, 21], 
	'University' : ['BHU', 'JNU', 'DU', 'BHU'], 
}

In [3]:
df = pd.DataFrame(details, columns = ['Name', 'Age', 'University'], 
				index = ['a', 'b', 'c', 'd'])

In [4]:
update_df = df.drop('c')

In [5]:
update_df

        Name  Age University
a      Ankit   23        BHU
b  Aishwarya   21        JNU
d   Shivangi   21        BHU