**Question** : Create a dataframe and delete missing or null values

**Level** = Medium

**Input format** :  create a dataframe

**Output format** : integers

**Sample input** : 
    
X = np.array([[1, 2], <br/>
              [6, 3], <br/>
              [8, 4], <br/>
              [9, 5], <br/>
              [np.nan, 4]]) <br/>

**Sample Output** :
    
    feature_1       feature_2

0      1.0             2.0 

1      6.0             3.0

In [2]:
import numpy as np
X = np.array([[1, 2], 
              [6, 3], 
              [8, 4], 
              [9, 5], 
              [np.nan, 4]])

In [4]:
import pandas as pd
df = pd.DataFrame(X, columns=['feature_1', 'feature_2'])

In [5]:
df.dropna()

   feature_1  feature_2
0        1.0        2.0
1        6.0        3.0
2        8.0        4.0
3        9.0        5.0