**Question** :  How to Delete a single Row in DataFrame by Row Index Label

**Level** = Hard

**Input format** : Remove specific row

**Output format** : integers

**Sample input** : 
    
import pandas as pd 


details = {  <br/>
	'Name' : ['Ankit', 'Aishwarya', 'Shaurya', 'Shivangi'], <br/>
	'Age' : [23, 21, 22, 21],  <br/>
	'University' : ['BHU', 'JNU', 'DU', 'BHU'],  <br/>
}  <br/>

**Sample Output** :  


    Name        Age    University
 
a   Ankit       23        BHU        <br/>


b   Aishwarya   21        JNU          <br/>


d   Shivangi    21        BHU         <br/>

In [2]:
import pandas as pd

In [3]:
#Write your code here